/* Set the size of the div element that contains the map */
#map {
    height: 100vh;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    }
    
    .container1 {
        margin-right: 0%;
        padding-right: 0%;
        padding-left: 0px;
        margin-top: 0%;
        margin-bottom: 0%;
      }
    