/* css for the sidebar. Reference https://medium.com/wdstack/bootstrap-sidebar-examples-e363021395ff */



.nav-side-menu {
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: rgba(0, 0, 0, 0.75);
    /*background-color: #f5f5dc;*/
    position: fixed;
    top: 0px;
    width: 350px;
    height: 100%;
    color:black;
    text-align: center;
    /* overflow-y: scroll;
    overflow-x: hidden; */
}

/* #sidebar {
  overflow-y: hidden;} */


/* The header of the sidebar */
#header {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-bottom:10px;
  padding-top:7px;
  height: 100px;
  width: 347px;
  max-width: 347px;

}

/* Bus image in the header */
#header > img {
  display: inline-block;
  vertical-align: bottom;
}

/* Name of the website in the header */
#header > div {
  background-color: #f5f5dc;
  color: black;
  padding-top: 20px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

/* Make hamburger not appear when the webpage is larger than 767px */
.nav-side-menu .toggle-btn {
  display: none;
}






/* Styling for the weather container (image and temperature)*/
#weather {
  /* padding-left: 30px;
  text-align: center;
  margin-right: 38px; */
  /*position:absolute;*/
  /*margin-top: 7px;*/
  padding-top: 90px;
  margin-bottom: 7px;
  display: inline-block;
  vertical-align: middle;
  width: 75px;
}


/* Margin left for the weather temperature */
#weatherTemp {
  margin-left: 4px;
}

#weather > span > figure {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Styling for the weather icons */
#weather > figure {
  margin-left: 0px;
  vertical-align: middle;
  display: inline-block;
}

#weather {
  margin-bottom: 5px;
}








/* Styling of the markers */
#menu-content > li:nth-child(4) > div > div > button {

}

/* Styling of the marker buttons */
#findLocationFrom > button > img,
#findLocationTo > button > img {
/* #menu-content > li:nth-child(3) > div > span.input-group-btn > button > img,
#menu-content > li:nth-child(4) > div > span.input-group-btn > button > img { */
  display: inline-block;
  height: 20px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  width: 15px;
}


#findLocationFrom > button,
#findLocationTo > button {
  background: white;
}








/* Styling of the selection buttons */
.btn {
  border: 1px solid lightgrey;
  margin-bottom: 0px;
  /* line-height: 1; */
}


/* Colour of the Depart at\ Arrive by buttons */
.btn.active,
#menu-content > li:nth-child(4) > div{
  background-color: whitesmoke;
}
#menu-content > li:nth-child(4) > div > label:nth-child(2),
#menu-content > li:nth-child(4) > div > label:nth-child(1) {
  background-color: white;
}

/* Styling of the sidebar list */
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 6px;
  line-height: 20px;
  cursor: pointer;
}

.nav-side-menu li {
  padding-left: 0px;
  border-bottom: 1px solid #f5f5dc;
}
.nav-side-menu li a {
  text-decoration: none;
  color: black;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .nav-side-menu {
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    color: black;
    width: 40px;
    text-align: center;
  }

}
@media (min-width: 767px) {
  .nav-side-menu {
    height: 100%;
  }    
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  #main {
      width:calc(100% - 300px);
      float: right;
  }
}


.input-group date {
  padding-top: 10px;
  width: 50px;
}

/* Styling of the search button */
#searchButton > span {
  font-weight: 800;
}

/* Styling the hamburger that appears on pages smaller than 767px */
.glyphicon-menu-hamburger {
  font-size: 25px;
}

/* Styling datepicker */
#datepicker {
  width: 150px !important;
  float: left;
  margin-bottom: 0%;
  margin-right: 20px;
  line-height: 1;
}

#datetimepickers > span > div:nth-child(2) > div

#menu-content > li:nth-child(5) > div:nth-child(2) > div {
  width: 120px !important;
}

#menu-content > li:nth-child(5) > div:nth-child(2) {
  align-content: center;
}











button {
  background: rgba(0, 0, 0, 0.25);
  border: 2px solid white;
  border-radius: 0.5em;
  font-size: 1em;
  cursor: pointer;
  padding: 0.5em;
  margin-bottom: 1em;
  padding-left: 2em;
  position: inherit;
}

.suggestedRoute {
  width: 100%;
  background: whitesmoke;
}

.sidebarPageTwo {
  display: none;}

#scrollDown {
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-y: auto;   /* virkar þetta? */
}

.resultImages {
  display: inline;
  width: 20px; 
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.detailedResultsImages {
  width: 20px; 
  height: 20px;
  margin-bottom: 10px;
  display: inline;
}

.travelResults {
  text-align: center;
  margin-left: 0px;
  line-height: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 14px
}


.busName {
  display: inline;
}

.displayResultsMin  {
  display: inline;
  margin-left: 2px;
}

#backToPageOne {
  display: flex;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 20px;
}

.busImage {
  margin-left: 5px;
  margin-right: 2px;
}

.glyphicon-chevron-right {
  color: darkblue;
}

/* #routeDetails_0 > div,
#routeDetails_1 > div,
#routeDetails_2 > div {
  display:inline-block;
} */


.search {
  margin-top: 5px;
  margin-bottom: 5px;
}